<div class="defaultPasswordCls">Default Password
<p>Username:<span>test</span></p>
<p>Password:<span>test</span></p>
</div>
<br />
<div>
<div ng-show="error" class="alert alert-danger" >{{error}}</div>
<form name="loginForm" ng-submit="login()">
    <div class="textBoxClass">
        <label>Username:</label>
        <input type="text" ng-model='username' id= "username" required />
    </div>
    <div class="textBoxClass">
        <label>Password:</label>
        <input type="password" id="password" ng-model="password" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</div>